@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.container-fluid {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;

  margin: auto;
  width: 90%;
}

.table-responsive {
  max-height: 700px;
  box-shadow: rgba(81, 82, 83, 0.4) 0px 16px 32px;
}

td,
th {
  position: relative;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
  font-weight: bold;
  /* font-family: "Noto Sans JP", sans-serif; */
}

.td:hover::after,
.th:hover::after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  left: 0;
  top: -5000px;
  height: 5000px;
  width: 100%;
  z-index: -1;
}

.table tr td:hover:nth-child(4) {
  background-color: rgba(231, 83, 115);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.table tr td:hover {
  background-color: rgb(117, 223, 122);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.thead-dark {
  font-weight: bold;
  text-transform: uppercase;
  background: black;
  color: white;
}

.font-weight-bold {
  font-weight: bold;
}

.mb-5 {
  text-align: center;
}
