/* .navbar {
  position: fixed;
} */
.logo1 {
  margin-top: 5%;
  /* color: white; */
}

.navbar {
  background-color: #23414e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky !important;
  top: 0;
  z-index: 20;

  box-shadow: 0px 3px 4px #282926;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.nav-container {
  font-family: "Inconsolata", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #07121fbd;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #ebf3f7;

  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  color: #e2ebf1;
}

.nav-item:after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #df7229;
}
.nav-item::before {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover::before {
  width: 100%;
  background: #df7229;
}

.nav-item .active {
  color: #e2ebf1;
  /* border: 1px solid #ffdd40; */
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-top: 1pxsolid #fff; */
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    /* color: #ffdd40; */
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
.heade1 {
  position: absolute;
  top: 0vh;
  left: 3vw;

  background-color: #448aa8;
  padding: 1em;

  margin-top: 0.5em;
  margin-left: 0;
  color: #eff4f7;

  box-shadow: 1px 1px 5px 1px rgb(85, 102, 110);
}

.inp {
  /* margin-top: 1vw;
      margin-left: 2vw;
      border-radius: 0.2em;
   border:none;
   height: 35px;
   padding: 2vw;
   margin-left: 2vw;
   border-radius: 0.4em;
   border: none;
   height: 45px;
   outline: none; */

  outline: none;
  height: 35px;
  right: 8vw;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.inputField {
  position: absolute;
  right: 5vw;
}
